<h1>Add a new triangle</h1>

<form action="/triangles" method="post">
  <div class="form-group">
    <label for="side_1">Side 1</label>
    <input id="side_1" name="triangle_side_1" class="form-control" type="number">
    <label for="side_2">Side 2</label>
    <input id="side_2" name="triangle_side_2" class="form-control" type="number">
    <label for="side_3">Side 3</label>
    <input id="side_3" name="triangle_side_3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn">Add Triangle!</button>
</form>